<div class="form-group">
  <input type="text" class="form-control" name="account_id" [(ngModel)]="account_id" (ngModelChange)="onAccountIdChange(account_id)">
</div>
<!-- <div class="form-group">
  <input type="text" class="form-control" name="bank_name" [(ngModel)]="bank_name" (ngModelChange)="onBankNameChange(bank_name)">
</div> -->