<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>First Name</label>
      <input class="form-control" type="text" formControlName="firstName" />
    </div>
    <div class="form-group">
      <label>Password</label>
      <input class="form-control" type="password" formControlName="password" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="button" (click)="partialUpdate()">Partial Update</button>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="button" (click)="fullUpdate()">Full Update</button>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="button" (click)="reset()">Cancel</button>
    </div>
  </form>
</div>
